/*
*Hannah Schulke
*March 28, 2018
*Metadata
*/

/*body*/

body {background-color: Wheat;
	   color: black;
	   font-family: "helvetica";
	 }
	 
h1   {text-decoration: overline underline;
		font-size: 35pt;
		text-align: center;
	}

.right  {float: right; 
		}
#next_para { clear: right;
		}   
	
	
	 

 	

 	