/*
*Hannah Schulke
*March 28, 2018
*Metadata
*/

/*body*/

body {background-color: #DCDCDC;
	   color: black;
	   font-family: "helvetica";
	 }
	 
h1   {text-decoration: overline underline;
		font-size: 35pt;
		text-align: center;
		background-color: #E0FFFF; 
	}
	
p   {background-color: white;
		color: 	#008080; 
		}
	
h2   {background-color: #E0FFFF;
     }	 
h3   {background-color: #E0FFFF;
     }	 
.right  {float: right; 
		}
#next_para { clear: right;
		}   
	
	
	 

 	

 	